@media only screen and (min-width: 768px){
    .grid-container {
        display: grid;
        grid-template-areas:
          'first first first second second second'
          'third third third fourth fourth fourth'
          'fifth fifth fifth sixth sixth sixth';
        gap: 1.5em;
        background-color: rgb(39, 73, 51);
        padding: 0 50px;
    }
    .sdisplay{
      display: none;
    }
    .sizedisplay > div{
      display: inline-block;
    }

}